<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/css/style2.css">
    <title> Page Analyzer</title>
</head>
<body>
    <div class="container">
        <h1>Enter a URL for analysis</h1>
        <form method="POST" action="/">
            <div class="form-group">
                <label for="url">URL :</label>
                <input type="text" id="url" name="url" required class="form-input" placeholder="https://www.google.com">
            </div>
            <button type="submit" class="submit-btn">Analyze</button>
        </form>
    </div>
</body>
</html>
